
body {
 background: #b0e0fc; 
}	

#outerwrapper {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-style: dotted;
}

/* add first-of-type to target h2 */
h2:first-of-type, h3 {
  padding-left: .5em;
}

/* add nth-child(odd) to target ul li */
ul li:nth-child(odd) {
  font-style: italic;
}

/* order-based selectors to the anchor tag
:link, :visited, :hover, :active */
a:link {
  color: #51069d;
}

a:visited {
  color: #c64092;
}

a:hover {
  color: #2fb366;
}

a:active {
  color: #aaac25;
}

footer
{
  background: #ffffff; 
  text-align: center;
  padding: .25em;
}